.navbar {
  background-image: "https://media.istockphoto.com/photos/magnifying-glass-and-calculator-on-budget-graph-picture-id626961726";
  background-color: rgb(99, 188, 151);
  height: 200px;
  margin: auto;
}

h1 {
  
  justify-content: flex;
  padding-left: 250px;
}

.transaction-button {
  margin-top: 10px;
  margin-left: 75px;
  background-color: rgb(46, 208, 113);
  border: 1px solid;
  font-style: bold;
  height: 50px;
  width: 200px;
  text-align: center;
}


.new-button {
  background: rgb(46, 208, 113);
  justify-content: end;
  margin-top: 10px;
  margin-left: 75px;
  border: 1px solid;
  font-style: bold;
  height: 50px;
  width: 200px;
  
}

