h2{
  font-family: 'Edu VIC WA NT Beginner', cursive;

}
#NavBar{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  background-color: aqua;
}

.NavBar{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  background-color: aqua;
}