.navbar {
    background-image: "/Users/kenyettagriffin/Desktop/Module 4/Kenyetta_Transaction_react/public/istockphoto-468973723-612x612.jpg";
    background-color: rgb(99, 188, 151);
    height: 200px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    margin: auto;
  }
  
  h1 {
    
    justify-content: flex;
    color: rgb(199, 125, 29);
    padding-left: 50px;
    font-family: 'Edu VIC WA NT Beginner', cursive;

  }
  
  .transaction-button {
    margin-top: 10px;
    margin-left: 75px;
    background: rgb(46, 208, 113);
    border: 1px solid;
    font-style: bold;
    height: 50px;
    width: 200px;
    text-align: center;
  }
  /* .Transaction{
    background-image: url("./Components/Images/budget.jpg");
  } */
  
  .new-button {
    background: rgb(46, 208, 113);
    justify-content: end;
    margin-top: 10px;
    margin-left: 75px;
    border: 1px solid;
    font-style: bold;
    height: 50px;
    width: 200px;
    
  }
  
  input{
      width: 205px;
      border-radius: 25px;
      border-color: greenyellow;
      height: 25px;
      justify-content: center;
      border: solid;
  }

  .new{
      height: 520px;    
      background: rgb(46, 208, 113);

  }

  h2{
      color: rgb(199, 125, 29);
      text-align: center;
      font-family: 'Edu VIC WA NT Beginner', cursive;

  }

  body{
    background-color: aqua;
    background-image: url("./Components/Images/Budget3.webp");
  }

  .back-button{
    background: rgb(46, 208, 113);
    justify-content: end;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 20px;

    border: 1px solid;
    font-style: bold;
    height: 50px;
    width: 200px;
  }

  .delete-button{
    background: rgb(46, 208, 113);
    justify-content: end;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid;
    font-style: bold;
    height: 50px;
    width: 200px;
  }

  .edit-button{
    background: rgb(46, 208, 113);
    justify-content: end;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 20px;

    border: 1px solid;
    font-style: bold;
    height: 50px;
    width: 200px;
  }